.field {
    width: 100%;
    padding: 0 1em;

    &.submit {
        text-align: center;
        padding: 0.5em;

        input {
            padding: 0.5em;
            border-radius: 0.5em;
            font-weight: bold;
            border: none;
        }
    }

    label {
        display: block;
        font-weight: bold;
        text-transform: capitalize;
        padding-bottom: 0.2em;
    }

    input[type=text],
    input[type=email],
    textarea {
        width: 100%;
        margin-bottom: 1em;
        background-color: lighten($darkgrey, 20);
        border: none;
    }
}