html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: $color-text;
}

p, li {
    line-height: 1.5em;
}

body {

    

    &.menu-visible {
        .wrapper {
            filter: blur(8px);

            animation: reveal $duration-slow ease;
        }

        .menu {
            visibility: visible;
        }
    }
    
}